*{
    box-sizing: border-box;
}
body{
    background-color: #92a8d1;
    
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.headContainer{
    background-color: #92a8d1;

}
h1{
    margin-top: 0;
    margin-bottom: 12px;
}
table{
    margin:auto;
}
.mainContainer{
    background-color: #f4e1d2;
    margin:auto;
    display: block;
    position: absolute; 
    left: 0; 
    right: 0;
    padding-bottom: 20px;
}
.divTable{
    display: inline-block;
    background-color: rgb(65, 65, 65);
    margin:auto;
    padding: 13px;
    margin: 20px;
    border-radius: 10px;
    vertical-align: top;


}
.levels button{
    font-size: 13px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 3px solid black;
background-color: #4040a1;
color: white;
font-weight: bold;
letter-spacing: 0.5px;
padding: 5px;

}
.levels button:hover{
    background-color:#364eb8 ;
}
table td{
    height: 25px;
    width: 25px;
    padding:1px;
    font-size: 14px;
    background-color: lightgrey;
}
.clicked{
    background-color: rgb(153, 153, 153);
}
.hinted{
    background-color: rgb(170, 204, 255);

}
.timer {

    border: 3px solid black;
    font-size: 18px;
    width: 50px;
    margin-bottom: 1px;
    background-color: white;
}
.timerContainer div{

    text-align: center;
}
.bestScore{
    font-size: 18px;
    margin-top: 20px;
}
#resetBtn{
    height: 45px;
    width: 45px;
    font-size:30px;
    padding:0;
    /* display:inline-block; */
    
    /* margin:auto; */

}
.mine{
    background-color: rgb(238, 49, 49);
}
img{
    height:45px;
}
.lives{
    font-size:30px;
    display:inline-block;
    /* float:right; */
    width: 160px;
    text-align: left;
    /* display: flex;  */
    /* justify-content: space-between; */
    /* margin-right: 450px; */
    vertical-align: top;
    margin-top:20px;
}
.bar{
    margin:auto;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.bar p{
    display:inline-block;
}


.hintsContainer{
    display:inline-block;
    /* position:relative; */
    text-align: center;
    /* float:left; */
    height: 100px;

}
.hints{
    border-radius: 50%;
    margin:5px;
    height:45px;

}
.hint{
    animation-name: hintAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes  hintAnimation{
    0% {}
    50% {box-shadow: 0 0 10px 10px rgb(255 251 0 / 50%),inset 0 0 10px rgb(255 251 0);}
    100%{box-shadow: 0 0 20px 7px rgb(255 251 0), inset 0px 0px 20px 15px rgb(255 251 0);
    }
}
.hintsContainer button{
    display: block;
    background-color: rgb(252, 252, 184);
    border-style:solid;
    border-color: rgb(241, 175, 112);
}
.hintsContainer p{
    position: fixed;
    font-size:9px;
    display: none;
    margin: auto;
    margin-left: 55px;
}
.safeClicked{
    outline: 6px solid rgb(109, 240, 92);
    
}
.hintsContainer button{
    border-radius: 5px;
    margin:auto;
}

.safeBtn,.manualBtn,.sevenBoomBtn{
margin-top: 10px;
font-size: 15px;
border-radius: 5px;
padding: 5px;
/* background-color: #622569; */
background-color:#c94c4c;
color:white;
border-style: solid;
border-color: brown;
}
.safeBtn:hover,.manualBtn:hover,.sevenBoomBtn:hover{
    background-color: rgb(224, 101, 101);
    color:black;

}
.safeClick{
margin-top: 1px;
font-size: 13px;
}
.divBtn{
    display: inline-block;
    vertical-align: top;
    margin-top:20px;

}
.divBtn button{
    display: block;
    margin: auto;
}
.manualMode{
    margin-top: 1px;
 font-size: 13px;
 visibility: hidden;
}
